<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>nombres random</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <script src="https://unpkg.com/vue@2.0.3/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
    <style media="screen">
      body {
        font-family: Droid Sans, sans-serif;
        color: #212121;
        position: fixed;
        top: 0; left: 0; bottom: 0; right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      #main {
        text-align: center;
      }
      .big { font-size: 3em; }
      .big h1 { margin-top: .4em; margin-bottom: .4em; }
      .selector { cursor: pointer; }
      .selector.active { color: #F44336; }
    </style>
  </head>

  <body>
    <section id="main">
      <div class="big">
        <i class="selector fa fa-mars" :class="{active: sexo == 'M'}" title="M" @click="cambiar"></i> 
        <i class="selector fa fa-venus" :class="{active: sexo == 'F'}" title="F" @click="cambiar"></i>
        <h1>{{ actual.Nombre }}</h1>
      </div>
      <p>
        <span v-if="actual.Significado != 's/s'">{{ actual.Significado }}</span>
        <span v-else>--</span>
      </p>
    </section>
    
    <script>
    Array.prototype.random = function() { return this[Math.floor(Math.random()*this.length)]; }

    var app = new Vue({
      el: '#main',

      data: {
        sexo: 'M',
        nombres: [],
        actual: {},
        cache: {} // cache by letter
      },

      created: function() {
        this.$http.get('nombres.json').then(function(r) {
          this.nombres = r.body;
          this.actual = this.nombres.random();
          this.sexo = this.actual.Sexo;
          this._cache(r.body);
        }, function(err) {
          console.log(err)
        });
        window.addEventListener('keyup', this.teclado);
      },

      methods: {
        _cache: function(nombres) {
          var alphabet = "abcdefghijklmnñopqrstuvwxyz"
          for (var i=0; i < alphabet.length; i++) {
            var key = alphabet.charAt(i);
            this.cache[key] = nombres.filter(function(i) {
              return i.Nombre.toLowerCase().startsWith(key)
            })
          }
        },

        cambiar: function(e) {
          this.sexo = e.target.title;
          this.random();
        },

        random: function(e) {
          var self = this;
          
          var nombre = this.nombres.filter(function(i) {
            return i.Sexo == self.sexo;
          }).random();

          this.actual = nombre;
        },

        teclado: function(e) {
          var self = this;

          if (e.code == 'Space') {
            this.random();
            return;
          }

          var key = e.key.toLowerCase();

          if (key.match(/^[a-z]$/)) {
            var nombre = this.cache[key].filter(function(i) {
              return i.Sexo == self.sexo
            }).random();

            this.actual = nombre;
          }
        }
      }
    })
    </script>

  </body>
</html>
